.contacts {
  position: relative;
  background-color: coloring(color-light);
  background-image: url(../image/image/bg-pixel-white.png);
  background-repeat: repeat;
  background-size: contain;

  &__container {
    position: relative;
    z-index: 1;
  }

  &__heading-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    flex-direction: column;
    gap: 24px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      text-align: left;
    }
  }
  &__heading {
    margin-bottom: 0;
  }

  &__heading-email {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: coloring(color-dark);
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }
  &__content-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  &__form {
    background-color: coloring(color-light);
    border: 1px solid coloring(color-light-description);
    padding: 24px 16px;
    margin-left: -17px;
    margin-right: -17px;

    @media screen and (min-width: $bp-tablet) {
      margin-left: 0px;
      margin-right: 0px;
      border-radius: 4px;
    }
    @media screen and (min-width: $bp-desctop) {
      padding: 40px;
    }
  }
  &__curator {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
  }
  &__curator-img {
    border-radius: 4px;
  }
  &__curator-names {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }
  &__curator-name {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 3px;
    color: coloring(color-dark);
    margin-bottom: 0;

    @media screen and (min-width: $bp-desctop) {
      font-size: 32px;
    }
  }
  &__curator-specialty {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    color: coloring(color-policy-text);
    margin-bottom: 0;

    @media screen and (min-width: $bp-desctop) {
      font-size: 20px;
    }
  }
  &__curator-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 14px 32px;
  }
  &__curator-icon {
    fill: coloring(color-white);
  }
}
