.education-form {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 40px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 100px;
    }
  }

  &__video {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;

    background-image: url(../image/image/education-form-bg.png);
    background-size: cover;
    background-position: center;
    border: 1px solid coloring(color-brand-primary);
    border-radius: 4px;

    padding: 24px 16px;

    @media screen and (min-width: $bp-tablet) {
      padding: 48px;
    }
  }
  &__video-content {
    flex-basis: 560px;
  }

  &__video-heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: coloring(color-white);
    margin-bottom: 16px;
  }

  &__video-description {
    color: coloring(color-light-description);
    margin-bottom: 32px;
  }

  &__video-btn {
    width: 100%;
    padding: 14px;
    margin-bottom: 200px;

    @media screen and (min-width: $bp-desctop) {
      margin-bottom: 0;
    }
  }

  &__video-image {
    position: absolute;
    left: -32px;
    width: 550px;
    bottom: -70px;
    max-width: none;

    @media screen and (min-width: $bp-desctop) {
      left: auto;
      right: 0;
      bottom: 0;
    }
  }
}
