.faq {
  background-image: url(../image/image/bg-pixel.png);
  background-repeat: repeat;
  background-size: contain;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
  }
}
