.footer {
  padding: 24px 0;

  @media screen and (min-width: $bp-tablet) {
    padding: 40px 0;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__logo {
    width: 102px;
    margin-bottom: 16px;
  }
  &__copy {
    font-size: 14px;
    color: coloring(color-light-description);
    margin-bottom: 0;
  }

  &__nav-list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-direction: column;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }

    & .separator {
      display: none;

      @media screen and (min-width: $bp-tablet) {
        display: block;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
  }

  &__link-contact {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    line-height: 1.2;
    color: coloring(color-white);
    transition: color 0.25s;

    &:hover {
      color: coloring(color-brand-secondary);
    }
  }
  &__link-icon {
    fill: coloring(color-white);
  }

  &__social-icon {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
