.header {
  border-bottom: 1px solid var(--color-medium-dark);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }
  &__logo-lang,
  &__navmenu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__lang {
    &--link {
      &::before {
        content: none;
      }
    }
  }

  &__logo {
    width: 136px;
  }

  &__social-icon {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}
