.price {
  background-image: url(../image/image/bg-pixel.png);
  background-repeat: repeat;
  background-size: contain;

  @media screen and (min-width: $bp-tablet) {
    background-image: none;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 48px;
    flex-wrap: wrap;
  }

  &__item {
    flex-basis: 100%;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 24px) / 2);
    }
    @media screen and (min-width: $bp-desctop) {
      flex-basis: calc((100% - 48px) / 3);
    }
  }
}
