.price {
  background-repeat: repeat;
  background-size: contain;

  &--dark {
    background-image: url(../image/image/bg-pixel.png);

    @media screen and (min-width: $bp-tablet) {
      background-image: none;
    }
  }

  &--light {
    background-color: coloring(color-light);
    background-image: url(../image/image/bg-pixel-white.png);
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 48px;
    flex-wrap: wrap;
  }

  &--light &__wrapper {
    padding: 0;
  }

  &__item {
    flex-basis: 100%;

    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 24px) / 2);
    }
    @media screen and (min-width: $bp-desctop) {
      flex-basis: calc((100% - 48px) / 3);
    }
  }
}
