.section {
  padding: 100px 0;

  &__heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 24px;
    text-transform: uppercase;

    &--only-heading {
      margin-bottom: 64px;
    }

    &--light {
      color: coloring(color-white);
    }

    &--dark {
      color: coloring(color-dark);
    }
  }

  &__description {
    font-size: 20px;
    margin-bottom: 48px;

    &--light {
      color: coloring(color-light-description);
    }

    &--dark {
      color: coloring(color-policy-text);
    }
  }
}
