.section {
  padding: 64px 0;
  overflow: hidden;

  @media screen and (min-width: $bp-tablet) {
    padding: 100px 0;
  }

  &__heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 32px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 16px;
    text-transform: uppercase;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 24px;
      font-size: 40px;
    }

    &--only-heading {
      margin-bottom: 64px;
    }

    &--light {
      color: coloring(color-white);
    }

    &--dark {
      color: coloring(color-dark);
    }
  }

  &__description {
    margin-bottom: 40px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 20px;
      margin-bottom: 48px;
    }

    &--light {
      color: coloring(color-light-description);
    }

    &--dark {
      color: coloring(color-policy-text);
      margin-bottom: 0;
    }
  }
}
