.btn-primary {
  color: var(--color-white);
  background-color: var(--color-brand-primary);
  border: none;
  padding: 14px 32px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
