.btn-primary,
.btn-transparent,
.btn-disabled {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  transition: color 0.25s, background 0.25s;
}
.btn-primary {
  color: coloring(color-white);
  background-color: coloring(color-brand-primary);
  border: 1px solid coloring(color-brand-primary);
}

.btn-transparent {
  color: coloring(color-brand-primary);
  border: 1px solid coloring(color-brand-primary);
  background-color: coloring(color-brand-primary, 0.15);
}

.btn-primary,
.btn-transparent {
  &:hover {
    color: coloring(color-white);
    background-color: coloring(color-brand-secondary);
    border: 1px solid coloring(color-brand-secondary);
  }
}

.btn-disabled {
  color: coloring(color-disabled);
  background-color: coloring(color-light-dark, 0.15);
  border: 1px solid coloring(color-light-dark);
  cursor: not-allowed;
}

.carousel-button {
  position: absolute;
  background-color: transparent;
  border: none;
  top: calc((100% - 30px) / 2);
  z-index: 2;

  &.prev {
    left: -12px;
    @media screen and (min-width: $bp-tablet) {
      left: -60px;
    }
  }

  &.next {
    transform: rotate(180deg);
    right: -12px;

    @media screen and (min-width: $bp-tablet) {
      right: -60px;
    }
  }
}

.carousel-button .carousel-arrow {
  fill: coloring(color-white);

  @media screen and (min-width: $bp-tablet) {
    fill: coloring(color-light-dark);
  }
}
