.dropdown-lang {
  position: relative;

  &__link {
    transition: margin 0.25s;

    &::after {
      content: url('data:image/svg+xml,<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0.684985 0.6997C0.931632 0.433433 1.33153 0.433433 1.57817 0.6997L4.5 3.85395L7.42183 0.6997C7.66847 0.433433 8.06837 0.433433 8.31501 0.6997C8.56166 0.965966 8.56166 1.39767 8.31501 1.66394L4.94659 5.3003C4.69995 5.56657 4.30005 5.56657 4.05341 5.3003L0.684985 1.66394C0.438338 1.39767 0.438338 0.965966 0.684985 0.6997Z" fill="white"/></svg>');
      line-height: 0;
    }

    &.active {
      color: coloring(color-brand-primary);

      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__list {
    position: absolute;
    top: 130%;
    height: 0;
    overflow: hidden;
    z-index: 4;
    background-color: coloring(color-light);
    width: auto;
    border-radius: 2px;
    box-shadow: 0px 0px 15px 0px coloring(color-dark, 0.12);

    &--nav {
      min-width: 260px;
    }
  }

  &__item {
    padding: 8px;
    border-bottom: 1px solid coloring(color-light-description);
    &:last-child {
      border-bottom: none;
    }

    @media screen and (min-width: $bp-desctop) {
      padding: 16px 8px;
    }
  }

  &__item-link {
    color: coloring(color-dark);
  }
}
