.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;

  &__btn {
    width: 16px;
    height: 4px;
    padding: 0;
    background-color: coloring(color-light-description);
    border-radius: 6px;

    &--active {
      background-color: coloring(color-brand-primary);
    }
  }
}
