.programm-card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 32px;
  padding-bottom: 100px;

  @media screen and (min-width: $bp-desctop) {
    align-items: flex-start;
    flex-direction: row;

    &:nth-child(2n) {
      flex-direction: row-reverse;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: calc((100% - 16px) / 2);
      width: 16px;
      height: 16px;
      background-color: coloring(color-dark);
      border: 1px solid coloring(color-secondary-dark);
      transform: rotate(45deg);
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: calc((100% - 1px) / 2);
      width: 1px;
      height: 100%;
      background-color: coloring(color-secondary-dark);
    }
  }
  &__description,
  &__image {
    flex-basis: 370px;

    @media screen and (min-width: $bp-desctop) {
      flex-basis: 500px;
    }
  }

  &__description {
    color: coloring(color-light-description);
    background-color: coloring(color-medium-dark);
    border-radius: 4px;
    padding: 24px;
  }

  &__section {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: coloring(color-policy-text);

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;

    @media screen and (min-width: $bp-desctop) {
      font-size: 22px;
      margin-bottom: 16px;
    }
  }

  &__section-icons {
    display: flex;
    gap: 16px;
  }
  &__section-icon {
    width: 32px;
  }

  &__heading {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 3px;
    color: coloring(color-white);
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  &__list {
    list-style: disc;
    padding-left: 24px;
    line-height: 1.5;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
