.social {
  display: flex;

  &:hover {
    .social__icons {
      fill: coloring(color-brand-secondary);
    }
  }

  @media screen and (max-width: $bp-desctop) {
    border-radius: 50%;
    background-color: coloring(color-white);
    box-shadow: 0px 0px 12px 0px #2280cde5;
    padding: 8px;
  }

  &__icons {
    fill: coloring(color-dark);
    transition: fill 0.25s;

    @media screen and (min-width: $bp-desctop) {
      fill: coloring(color-white);
    }
  }
}
